FORMAT: 1A
HOST: http://p4x-650.gateworld.fr:9082

# Mirmidon API
Documentation Mirmidon API.

## Error States
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used.

# Group Fieldsites
Gestion des fieldsites de **Mirmidon-unstable API**

# Base [/]
Point d'entrée de l'API.

Cette ressource n'a aucun attribut.
+ Response 200
    +Headers
    
            Accept:application/json,
            Content-Type:application/json

## Lister les fieldsites [/explorer/fieldsite/list]

    Note: Should be an HTTP GET

### POST

+ Response 200
    + Headers
    
            Accept:application/json,
            Content-Type:application/json

    + Body
    
            {
               "data":
               {
                   "0":
                   {
                       "id": 1,
                       "name": "Taiwan",
                       "creationDate": "2014-11-04 12:21:26.999"
                   },
                    "0":
                   {
                       "id": 2,
                       "name": "Fieldsite2",
                       "creationDate": "2014-11-04 12:24:22.548"
                   },
                   ... More ...
               },
               "code": 0,
               "message": ""
            }

 
## Ajouter un fieldsite [/explorer/fieldsite/add]
Pour créer un fieldsite, fournir simplement le champ `name` du nouveau fieldsite. 

### POST

+ Request (application/json)

        {
            "name": "Taiwan"
        }


+ Response 200
    + Headers
    
            Content-Type:application/json

    + Schema

            {
                "type": "object",
                "required": true,
                "properties": {
                    "code": {
                        "type": "number",
                        "required": true
                    },
                    "message": {
                        "type": ["string", "null"],
                        "required": true
                    },
                    "data": {
                        "type": "object",
                        "required": true
                    }
                }
            }

    + Body

            {
                "code": 0,
                "message": null,
                "data":
                    {
                        "id": 2,
                        "name": "Taiwan",
                        "creationDate": "2014-11-04 12:21:26.999"
                    }
            }
            

## Supprimer un fieldsite [/explorer/fieldsite/remove]


    Donner l'ID du fieldsite à supprimer dans le champ 'data'

### POST
+ Request (application/json)

        {
            "data": 3
        }

+ Response 200

    + Body
    
            {
                "code":0,
                "message":null,
                "data":null
            }

+ Response 500

    **Attention, normalement le code HTTP devrait être différent de 200, la réponse en cas d'erreur est correcte mais pas le code qui reste à 200**

    + Body
    
            {
                "code": 2,
                "message": "Impossible to find speficied fieldsite",
                "data": null
            }

# Group Aggregator
Aggregator de **Mirmidon-unstable API**

## Lister les formats [/aggregator]

### GET
+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

            {
              data:
              {
                supportedFormats:
                {
                  0: {
                    id: 3,
                    name: "Import an ASCII file",
                    slug: "import-phenomena-ascii",
                    abstract: "Import a ascii file into Mirmidon",
                    actions: {
                      describe: "/aggregator/importPhenomena/from-ascii/describe",
                      execute: "/aggregator/importPhenomena/from-ascii/execute",
                      status: "/aggregator/status"
                    }
                  },
                  1: {
                    id: 4,
                    name: "Import a NetCDF file",
                    slug: "import-phenomena-netcdf",
                    abstract: "Import a netcdf file into Mirmidon",
                    actions: {
                      describe: "/aggregator/importPhenomena/from-netcdf/describe",
                      execute: "/aggregator/importPhenomena/from-netcdf/execute",
                      status: "/aggregator/status"
                    }
                  },
                  2: {
                    id: 5,
                    name: "Import output of the SYMPHONIE model",
                    slug: "import-output-symphonie",
                    abstract: "Import an output of Symphonie Model",
                    actions: {
                      describe: "/aggregator/importPhenomena/from-output-symphonie/describe",
                      execute: "/aggregator/importPhenomena/from-output-symphonie/execute",
                      status: "/aggregator/status"
                    }
                  }
                }
              },
              code: 0,
              message: ""
            }


## Statut  [/aggregator/status]

### POST
+ Request (application/json)

        {
            "token":"20eebea3-ed83-4495-a3a0-5110c8695ae3",
            "target":"http:\/\/192.168.1.61:9082\/aggregator\/status",
            "fieldsite_id":1,
            "data":1
        }

+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

        ```
        Execution exception:
        [NumberFormatException: For input string: ""]
        In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 428.
        ```

## Describe Import ASCII Phenomena format  [/aggregator/importPhenomena/from-ascii/describe]

### GET
+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

        ```
        Execution exception:
        [UnconvertibleObjectException: No converter found.]
        In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 436.
        ```

## Import ASCII Phenomena  [/aggregator/importPhenomena/from-ascii/execute]

### POST
+ Request (application/json)

        {
            "token":"20eebea3-ed83-4495-a3a0-5110c8695ae3",
            "target":"http:\/\/192.168.1.61:9082\/aggregator\/from-ascii\/execute",
            "fieldsite_id":1,
            "data":1
        }

+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

## Describe Import NetCDF Phenomena format  [/aggregator/importPhenomena/from-netcdf/describe]

### GET
+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

        ```
        Execution exception:
        [UnconvertibleObjectException: No converter found.]
        In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 452.
        ```

## Import NetCDF Phenomena  [/aggregator/importPhenomena/from-netcdf/execute]

### POST
+ Request (application/json)

        {
            "token":"20eebea3-ed83-4495-a3a0-5110c8695ae3",
            "target":"http:\/\/192.168.1.61:9082\/aggregator\/from-netcdf\/execute",
            "fieldsite_id":1,
            "data":1
        }

+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

## Describe Import Symphonie Phenomena format  [/aggregator/importPhenomena/from-output-symphonie/describe]

### GET
+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

        ```
        Execution exception:
        [UnconvertibleObjectException: No converter found.]
        In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 468.
        ```

## Import Symphonie Phenomena  [/aggregator/importPhenomena/from-output-symphonie/execute]

### POST
+ Request (application/json)

        {
            "token":"20eebea3-ed83-4495-a3a0-5110c8695ae3",
            "target":"http:\/\/192.168.1.61:9082\/aggregator\/from-output-symphonie\/describe",
            "fieldsite_id":1,
            "data":1
        }

+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

## Describe Import Symphonie Phenomena format  [/aggregator/importPhenomena/from-output-ww3/describe]

### GET
+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

            {
                code: 2,
                message: "",
                data: null
            }

## Import Symphonie Phenomena  [/aggregator/importPhenomena/from-output-ww3/execute]

### POST
+ Request (application/json)

        {
            "token":"20eebea3-ed83-4495-a3a0-5110c8695ae3",
            "target":"http:\/\/192.168.1.61:9082\/aggregator\/from-output-ww3\/describe",
            "fieldsite_id":1,
            "data":1
        }

+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

            {
                code: 2,
                message: "",
                data: null
            }

## Describe Import Symphonie Phenomena format  [/aggregator/importPhenomena/from-ecmwf/describe]

### GET
+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

            {
                code: 0,
                message: "",
                data: {
                    name: "Aggregator : Import-phenomena-ecmwf",
                    abstract: "Reads a netcdf file and converts it in MFieldSite format",
                    inputs: {
                        CoordinateReferenceSystem: {
                            id: "CoordinateReferenceSystem",
                            name: "CoordinateReferenceSystem",
                            abstract: "CRS EPSG Code",
                            type: "String"
                        },
                        EnvelopeMinX: {
                            id: "EnvelopeMinX",
                            name: "EnvelopeMinX",
                            abstract: "X min position ordinate in the given CRS",
                            type: "Double"
                        },
                        EnvelopeMaxX: {
                            id: "EnvelopeMaxX",
                            name: "EnvelopeMaxX",
                            abstract: "X max position ordinate in the given CRS",
                            type: "Double"
                        },
                        EnvelopeMinY: {
                            id: "EnvelopeMinY",
                            name: "EnvelopeMinY",
                            abstract: "Y min position ordinate in the given CRS",
                            type: "Double"
                        },
                        EnvelopeMaxY: {
                            id: "EnvelopeMaxY",
                            name: "EnvelopeMaxY",
                            abstract: "Y max position ordinate in the given CRS",
                            type: "Double"
                        },
                        Date: {
                            id: "Date",
                            name: "Date",
                            abstract: "Date",
                            type: "Date"
                        },
                        AggregationName: {
                            type: "String",
                            id: "AggregationName",
                            name: "AggregationName",
                            abstract: "Aggregation name | This field is left free to the user. It can be a reference to the data source (gebco, ecmwf,...)  or simply leave empty."
                        },
                        AggregationDescription: {
                            type: "String",
                            id: "AggregationDescription",
                            name: "AggregationDescription",
                            abstract: "This field is left free to the user. It can be a reference to the data source (gebco, ecmwf,...) or simply leave empty."
                        }
                    },
                    outputs: { }
                }
            }

## Import Symphonie Phenomena  [/aggregator/importPhenomena/from-ecmwf/execute]


### POST
+ Request (application/json)

        {
            "token":"20eebea3-ed83-4495-a3a0-5110c8695ae3",
            "target":"http:\/\/192.168.1.61:9082\/aggregator\/from-ecmwf\/describe",
            "fieldsite_id":1,
            "data": {
                inputs: {
                    CoordinateReferenceSystem: "",
                    EnvelopeMinX: "",
                    EnvelopeMaxX: "",
                    EnvelopeMinY: "",
                    EnvelopeMaxY: "",
                    Date: "",
                    AggregationName: "",
                    AggregationDescription: ""
                }
            }
        }

+ Response 200
    + Headers

            Accept:application/json,
            Content-Type:application/json

    + Body

# Group Explorer
Explorer de **Mirmidon-unstable API**

## Phenomena list [/explorer/phenomena/list]
ERREUR: API en erreur @todo : documenter dès correction.

### GET

+ Response 200
    + Headers

            Content-Type:text/html; charset=utf-8

    + Body

            Execution exception
            [UnconvertibleObjectException: No converter found.]
            In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 524.

## Phenomena ASCII list [/explorer/phenomena/ascii/list]

### GET

+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            Execution exception
            [UnconvertibleObjectException: No converter found.]
            In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 532.

## Phenonema NetCDF list [/explorer/phenomena/netcdf/list]

### GET

+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            Execution exception
            [UnconvertibleObjectException: No converter found.]
            In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 540.

## Phenomena list by Fieldset [/explorer/phenomena/by-fieldsite?id={id}]

### GET

+ Parameters

    + id = `` (required, integer, `1`) ... Fieldsite Identifier.

+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            {

            "data": {
                    "phenomenon": {
                                    "0":{
                                            "standard_name": "pressure",
                                            "variables": {
                                            "0": {
                                                    "standard_name": "pressure",
                                                    "unit": "",
                                                    "type": "PhenomenaVariable",
                                                    "data_type": "double",
                                                    "minimum_value": 0,
                                                    "maximun_value": 1,
                                                    "fill_value": "NaN",
                                                    "scale": 1,
                                                    "offset": 0,
                                                    "units": 
                                                        {
                                                            "0": "Pa",
                                                            "1": "hPa",
                                                            "2": "kPa"
                                                        }
                                                    },
                                                    //Cut example, there can be more variables
                                            }
                                        },
                                        //Cut example, there can be more phenomenon
                                    }
                    }

            }

## Phenomena Info [/explorer/phenomena/info]
Item not documented

### GET

+ Response 400
    + Body

            <How to use ?>

## Phenomena Plot [/explorer/phenomena/plot]
Item not documented 

### GET

+ Response 400
    + Body

            <How to use ?>

## List coordinate reference system [/explorer/coordinate-reference-system/list]
Item not documented - High load time.

### GET
+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            {  
                "data":{  
                    "0":{  
                        "id":"CRS:84",
                        "name":"WGS84",
                        "remarks":"",
                        "scope":""
                    },
                    "1":{  
                        "id":"EPSG:4326",
                        "name":"WGS 84",
                        "remarks":"",
                        "scope":"Horizontal component of 3D system. Used by the GPS satellite navigation system and for NATO military geodetic surveying."
                    },
                    "2":{  
                        "id":"EPSG:2154",
                        "name":"RGF93 / Lambert-93",
                        "remarks":"",
                        "scope":"Large and medium scale topographic mapping and engineering survey."
                    }
                },
                "code":0,
                "message":""
            }

