FORMAT: 1A
HOST: http://p4x-650.gateworld.fr:9082

# Mirmidon API
Documentation Mirmidon API.

## Error States
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used.

# Group Fieldsites
Gestion des fieldsites de **Mirmidon-unstable API**

# Base [/]
Point d'entrée de l'API.

Cette ressource n'a aucun attribut.
+ Response 200
    +Headers
    
            Accept:application/json,
            Content-Type:application/json

## Lister les fieldsites [/explorer/fieldsite/list]

    Note: Should be an HTTP GET

### POST

+ Response 200
    + Headers
    
            Accept:application/json,
            Content-Type:application/json

    + Body
    
            {
               "data":
               {
                   "0":
                   {
                       "id": 1,
                       "name": "Taiwan",
                       "creationDate": "2014-11-04 12:21:26.999"
                   },
                    "0":
                   {
                       "id": 2,
                       "name": "Fieldsite2",
                       "creationDate": "2014-11-04 12:24:22.548"
                   },
                   ... More ...
               },
               "code": 0,
               "message": ""
            }

 
## Ajouter un fieldsite [/explorer/fieldsite/add]
Pour créer un fieldsite, fournir simplement le champ `name` du nouveau fieldsite. 

### POST

+ Request (application/json)

        {
            "name": "Taiwan"
        }


+ Response 200
    + Headers
    
            Content-Type:application/json

    + Schema

            {
                "type": "object",
                "required": true,
                "properties": {
                    "code": {
                        "type": "number",
                        "required": true
                    },
                    "message": {
                        "type": ["string", "null"],
                        "required": true
                    },
                    "data": {
                        "type": "object",
                        "required": true
                    }
                }
            }

    + Body

            {
                "code": 0,
                "message": null,
                "data":
                    {
                        "id": 2,
                        "name": "Taiwan",
                        "creationDate": "2014-11-04 12:21:26.999"
                    }
            }
            

## Supprimer un fieldsite [/explorer/fieldsite/remove]


    Donner l'ID du fieldsite à supprimer dans le champ 'data'

### POST
+ Request (application/json)

        {
            "data": 3
        }

+ Response 200

    + Body
    
            {
                "code":0,
                "message":null,
                "data":null
            }

+ Response 500

    **Attention, normalement le code HTTP devrait être différent de 200, la réponse en cas d'erreur est correcte mais pas le code qui reste à 200**

    + Body
    
            {
                "code": 2,
                "message": "Impossible to find speficied fieldsite",
                "data": null
            }



# Group Explorer
Explorer de **Mirmidon-unstable API**

## Phenomena list [/explorer/phenomena/list]
ERREUR: API en erreur @todo : documenter dès correction.

### GET

+ Response 200
    + Headers

            Content-Type:text/html; charset=utf-8

    + Body

            Execution exception
            [UnconvertibleObjectException: No converter found.]
            In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 524.

## Phenomena ASCII list [/explorer/phenomena/ascii/list]

### GET

+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            Execution exception
            [UnconvertibleObjectException: No converter found.]
            In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 532.

## Phenonema NetCDF list [/explorer/phenomena/netcdf/list]

### GET

+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            Execution exception
            [UnconvertibleObjectException: No converter found.]
            In /data/MIRMIDON/unstable/mirmidon/LOGIC/target/scala-2.10/src_managed/main/routes_routing.scala at line 540.

## Phenomena list by Fieldset [/explorer/phenomena/by-fieldsite?id={id}]

### GET

+ Parameters

    + id = `` (required, integer, `1`) ... Fieldsite Identifier.

+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            {

            "data": {
                    "phenomenon": {
                                    "0":{
                                            "standard_name": "pressure",
                                            "variables": {
                                            "0": {
                                                    "standard_name": "pressure",
                                                    "unit": "",
                                                    "type": "PhenomenaVariable",
                                                    "data_type": "double",
                                                    "minimum_value": 0,
                                                    "maximun_value": 1,
                                                    "fill_value": "NaN",
                                                    "scale": 1,
                                                    "offset": 0,
                                                    "units": 
                                                        {
                                                            "0": "Pa",
                                                            "1": "hPa",
                                                            "2": "kPa"
                                                        }
                                                    },
                                                    //Cut example, there can be more variables
                                            }
                                        },
                                        //Cut example, there can be more phenomenon
                                    }
                    }

            }

## Phenomena Info [/explorer/phenomena/info]
Item not documented

### GET

+ Response 400
    + Body

            <How to use ?>

## Phenomena Plot [/explorer/phenomena/plot]
Item not documented 

### GET

+ Response 400
    + Body

            <How to use ?>

## List coordinate reference system [/explorer/coordinate-reference-system/list]
Item not documented - High load time.

### GET
+ Response 200
    + Headers

            Content-Type:application/json

    + Body

            {  
                "data":{  
                    "0":{  
                        "id":"CRS:84",
                        "name":"WGS84",
                        "remarks":"",
                        "scope":""
                    },
                    "1":{  
                        "id":"EPSG:4326",
                        "name":"WGS 84",
                        "remarks":"",
                        "scope":"Horizontal component of 3D system. Used by the GPS satellite navigation system and for NATO military geodetic surveying."
                    },
                    "2":{  
                        "id":"EPSG:2154",
                        "name":"RGF93 / Lambert-93",
                        "remarks":"",
                        "scope":"Large and medium scale topographic mapping and engineering survey."
                    }
                },
                "code":0,
                "message":""
            }

